@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <style>
        .form {
            margin: 0px 500px 10px 500px;
            color: white;
        }

        h2 {
            margin: 16px 0 31px 0;
        }

        .utama {
            background-color: gray;
            padding: 5% 0 5% 0;
        }
    </style>
    <div class="utama">
        <div class="form">
            <h2 align="center" style="font-family:'Times New Roman'">Terima kasih telah melalukan Booking</h2>
            <br />
            <h2 align="center" style="font-family:'Times New Roman'">Silahkan cek email yang terdaftar untuk mendapatkan info konfirmasi booking</h2>
            <br />
            <br />
            <div align="center">
                <div style="background-color:darkslateblue;border-radius:10px;height:40px;">
                    <div style="padding-top:10px">
                        <a href="/"><h4 style="font-family:'Times New Roman'">Kembali ke halaman utama</h4></a>
                    </div>
                </div>
                <br />
                    <a href="https://gmail.com" target="_blank" style="color:orange;"><h4 style="font-family:'Times New Roman'">Cek Email</h4></a>
            </div>
        </div>
    </div>
